extends layout


block content
  h2 Welcome to Express.
  p Hello #{title}
  p See my favorite tech blog <a href='https://theverge.com'> here </a>
  p see my top 3 favorite foods <a href='/foods'> here </a>



